filebeat.inputs:
- type: filestream
  id: nginx-access
  enabled: true
  paths:
    - /var/log/nginx/access.log
  fields:
    log_type: access
    host_name: {{ inventory_hostname }}

- type: filestream
  id: nginx-error
  enabled: true
  paths:
    - /var/log/nginx/error.log
  fields:
    log_type: error
    host_name: {{ inventory_hostname }}

setup.template.name: "nginx-logs"
setup.template.pattern: "nginx-logs-*"

output.elasticsearch:
  hosts: ["http://{{ elasticsearch_host }}:9200"]
  username: "{{ elastic_user }}"
  password: "{{ elastic_password }}"
  index: "nginx-logs-%{[agent.version]}-%{+yyyy.MM.dd}"
