<!DOCTYPE html>
<html>
<head>
    <title>Web Server</title>
</head>
<body>
    <h1>Web Server {{ inventory_hostname }}</h1>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>IP: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
